.background {
    /* https://wallpapercave.com/wp/wp4312260.jpg */
    background-image: url('https://images.hdqwalls.com/download/blured-background-2560x1440.jpg');
}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-wrapper {
    position: relative;    
    top: 400px;
}

.spotify {
    position: relative;
    top: 20px;
    right: 700px;
}

.search {
    min-height: 44px;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    padding: 5px 8px 0 14px;
    border-style:ridge;
    width: 584px;
}

.backgroundImage {
    width: 1920;
    height: 1080;
    display: flex;
}

.top-nav {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    vertical-align: baseline;
}
